{
    auto_https off
}

:80 {
    @spl path /spl
    redir @spl /spl/

    handle_path /spl/* {
        reverse_proxy https://spl-landing-production.up.railway.app {
            header_up Host spl-landing-production.up.railway.app
        }
    }

    handle {
        reverse_proxy https://integritas-landing-production.up.railway.app {
            header_up Host integritas-landing-production.up.railway.app
        }
    }
}