{
    auto_https off
}

:80 {
    handle /spl* {
        reverse_proxy https://spl-landing-production.up.railway.app
    }

    handle {
        reverse_proxy https://integritas-landing-production.up.railway.app
    }
}